/* css reset  */
* {
    margin: 0px;
    padding: 0px;
}

/* navbar styling  */

#navbar {
    display: flex;
    align-items: center;
    position: relative;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#navbar div img {
    width: 50px;
    margin: 8px 20px;
}


#navbar ul {
    display: flex;
    font-family: 'Mukta', sans-serif;
}

#navbar ul li {
    list-style: none;

}

#navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 1px 23px;
    color: white;
    font-size: 1.1rem;
    border-radius: 14px;

}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

/* navbar end  */

/* home started  */
#home {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    align-items: center;
    justify-content: center;

    height: 432px;
}

#home::before {
    content: "";
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 77%;
    width: 100%;
    z-index: -1;
    opacity: 0.75;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 1.05rem;

}

/* services styling */

#services {
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
}

#services .box {
    border: 2px solid red;
    padding: 5px 10px;
    margin: 5px 35px;
    border-radius: 23px;
    background-color: aliceblue;
    margin-bottom: 18px;
}


#services .box img {
    height: 150px;
    display: block;
    margin: auto;
}

/* clients  */

#clients::before {
    content: "";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;

    height: 41.3%;
    width: 100%;
    z-index: -1;
    opacity: 0.45;
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;

}

.client-item {
    padding: 34px 50px;
}


.client-item img {
    height: 120px;
}

/* contact section  */
#contact::before {
    content: "";
    background: url('../img/contact.jpg') no-repeat center center/cover;
    position: absolute;

    height: 75%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;

}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    padding-bottom: 15px;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}

.form-group input,
.form-group textarea {
    width: 150%;
    padding: 0.4rem;
    border-radius: 8px;
    border: 2px solid gray;
}

.form-btn {

    width: 30%;
    padding: 2px;

    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(248, 143, 95);
    cursor: pointer;
    font-weight: bold;
}

/* footer  */
footer {
    background-color: black;
    color: white;
    padding: 20px 34px;
}




/* utility classes */
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.2rem;
    padding: 13px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2.1rem;
    padding: 13px;
}

.btn {
    padding: 5px 20px;
    margin: 15px;
    background-color: orangered;
    border: 2px solid white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 13px;
    cursor: pointer;
}

.center {
    text-align: center;
}

/* mediaqueryis */


@media only screen and (min-width:0px) and (max-width:380px) {

    #navbar {
        flex-direction: column;
    }

    #navbar div img {
        width: 70px;
        margin: 10px 10px;
    }



    #navbar ul li a:hover {
        background-color: white;
        color: black;
    }

    #navbar ul li a {
        display: block;
        text-decoration: none;
        padding: 1px 16px;
        color: white;
        font-size: 1.1rem;
        border-radius: 14px;
    }

    #home {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        align-items: center;
        justify-content: center;
        height: 335px;
    }

    #home::before {
        content: "";
        background: url(../img/bg1.jpg) no-repeat center center/cover;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 72%;
        width: 100%;
        z-index: -1;
        opacity: 0.75;
    }

    #home p {
        color: white;
        text-align: center;
        font-family: 'Bree Serif', serif;
        font-size: 13px;
        padding: 5px;
    }

    #services {
        margin: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    #services .box {
        border: 2px solid red;
        padding: 5px 10px;
        margin: 5px 20px;
        border-radius: 23px;
        background-color: aliceblue;
        margin-bottom: 18px;
    }

    .client-item {
        padding: 15px 15px;
    }

    .client-item img {
        height: 46px;
    }

    #contact::before {
        content: "";
        background: url(../img/contact.jpg) no-repeat center center/cover;
        position: absolute;
        height: 70%;
        width: 100%;
        z-index: -1;
        opacity: 0.6;
    }

    .form-group {
        padding-bottom: 10px;
        font-size: 1.1rem;
        font-family: 'Bree Serif', serif;
    }

    .form-group input,
    .form-group textarea {
        width: 83%;
        padding: 6px;
        border-radius: 8px;
        border: 2px solid gray;
    }

    /* utility class  */
    .h-primary {
        font-family: 'Bree Serif', serif;
        font-size: 30px;
        padding: 13px;
    }

    .h-secondary {
        font-family: 'Bree Serif', serif;
        font-size: 20px;
        /* padding: 13px; */
    }







}

@media only screen and (min-width:380px) and (max-width:480px) {
    #navbar {
        flex-direction: column;
    }

    #navbar div img {
        width: 70px;
        margin: 10px 10px;
    }



    #navbar ul li a:hover {
        background-color: white;
        color: black;
    }

    #navbar ul li a {
        display: block;
        text-decoration: none;
        padding: 1px 16px;
        color: white;
        font-size: 1.1rem;
        border-radius: 14px;
    }

    #home {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        align-items: center;
        justify-content: center;
        height: 335px;
    }

    #home::before {
        content: "";
        background: url(../img/bg1.jpg) no-repeat center center/cover;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 72%;
        width: 100%;
        z-index: -1;
        opacity: 0.75;
    }


    #home p {
        color: white;
        text-align: center;
        font-family: 'Bree Serif', serif;
        font-size: 13px;
        padding: 5px;
    }

    #services {
        margin: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    #services .box {
        border: 2px solid red;
        padding: 5px 10px;
        margin: 5px 20px;
        border-radius: 23px;
        background-color: aliceblue;
        margin-bottom: 18px;
    }

    .client-item {
        padding: 15px 15px;
    }

    .client-item img {
        height: 46px;
    }

    #contact::before {
        content: "";
        background: url(../img/contact.jpg) no-repeat center center/cover;
        position: absolute;
        height: 70%;
        width: 100%;
        z-index: -1;
        opacity: 0.6;
    }

    .form-group {
        padding-bottom: 10px;
        font-size: 1.1rem;
        font-family: 'Bree Serif', serif;
    }

    .form-group input,
    .form-group textarea {
        width: 83%;
        padding: 6px;
        border-radius: 8px;
        border: 2px solid gray;
    }

    /* utility class  */
    .h-primary {
        font-family: 'Bree Serif', serif;
        font-size: 30px;
        padding: 13px;
    }

    .h-secondary {
        font-family: 'Bree Serif', serif;
        font-size: 20px;

    }
}